<!DOCTYPE html>
<html>
  <head>
    <title>CompanyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <%= render 'layouts/header' %>
    <main class="flex flex-wrap mt-5 justify-center w-full">
      <div class="w-full max-w-screen-xl">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
